
.button {
    width: 60px;
    height: 20px;
    border: 1px solid deeppink;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
















